.warranty-servise {
  @extend %size-page;
  @extend %padding-country;

  @extend %centre-space-between;
  align-items: flex-start;

  margin-bottom: 55px;

  @include __860 {
    margin-bottom: 100px;
    @include padding-mob;

    flex-direction: column-reverse;
  }

  & .text-h3 {
    text-align: left;
  }

  &__text-wrp {
    max-width: 728px;
    max-height: 500px;

    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-gray-30;
      border-radius: 4px;
    }

    @include __860 {
      max-height: none;
    }
  }

  & .text-main {
    text-align: left;
  }

  &__paragraph-margin-top {
    margin-top: 12px;
  }

  &__return-product {
    margin-bottom: 120px;
  }

  &__return-product-quality {
    margin-bottom: 60px;
  }

  &__text-red {
    color: $color-red;
  }

  &__img-wrp {
    @extend %centre-flex;
    flex-shrink: 0.4;

    @include __860 {
      flex-direction: column;
    }
  }

  &__img-back {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: -1;

    @include __860 {
      display: none;
    }
  }
}

.warranty-servise-pop-up {
  color: $color-white;

  &__wrp-comnt {
    max-width: 368px;
    width: 100%;

    padding: 20px;
    overflow: hidden;

    background-color: $color-black;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 20px;

      position: absolute;
      bottom: 0;

      display: flex;
      background-color: $color-black;
    }
  }

  &__wrp-title-text {
    @extend%centre-space-between;
  }

  &__title {
    font-size: 18px;
  }

  &__text-wrp {
    height: 100vh;
    overflow-y: auto;

    text-align: left;

    p + p {
      margin-top: 12px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      margin-left: 20px;
      padding-left: 20px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background: $color-gray-80;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      width: 10px;
      height: 1px;
      background: $color-gray-90;
    }
  }
}


.pop-up {
  &__wrp {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #03020e3d;
    z-index: 10000000000000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-out;

    &.active {
      visibility: visible;
      transition: 0.3s ease-in;
      opacity: 1;
    }
  }

  &__btn-line-l,
  &__btn-line-r {
    width: 24px;
    height: 2px;

    display: flex;
    position: absolute;

    background-color: $color-white;
  }

  &__btn-line-l {
    transform: rotate(45deg);
  }

  &__btn-line-r {
    transform: rotate(-45deg);
  }

  &__btn {
    width: 44px;
    height: 44px;

    @extend %centre-flex;
    cursor: pointer;
  }
}

.link-text {
  cursor: pointer;
}