.warranty-servise {
  @extend %size-page;
  @extend %padding-country;

  @extend %centre-space-between;

  margin-bottom: 55px;

  @include __860 {
    margin-bottom: 100px;
    @include padding-mob;

    flex-direction: column-reverse;
  }

  & .text-h3 {
    text-align: left;
  }

  &__text-wrp {
    max-width: 728px;
    max-height: 500px;

    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    @include __860 {
      max-height: none;
    }
  }

  & .text-main {
    text-align: left;
  }

  &__paragraph-margin-top {
    margin-top: 12px;
  }

  &__return-product {
    margin-bottom: 120px;
  }

  &__return-product-quality {
    margin-bottom: 60px;
  }

  &__text-red {
    color: $color-red;
  }

  &__img-wrp {
    @extend %centre-flex;
    flex-shrink: 0.4;

    @include __860 {
      flex-direction: column;
    }
  }

  &__img-back {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: -1;

    @include __860 {
      display: none;
    }
  }
}

.warranty-servise-pop-up {
  color: $color-white;
  &__wrp-comnt {
    max-width: 368px;
    width: 100%;

    padding: 20px;
    overflow: hidden;

    background-color: $color-black;
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 20px;

      position: absolute;
      bottom: 0;

      display: flex;
      background-color: $color-black;
    }
  }

  &__wrp-title-text {
    @extend%centre-space-between;
  }

  &__title {
    font-size: 18px;
  }

  &__text-wrp {
    height: 100vh;
    overflow-y: auto;

    text-align: left;

    p + p {
      margin-top: 12px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      margin-left: 20px;
      padding-left: 20px;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background: $color-gray-80;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      width: 10px;
      height: 1px;
      background: $color-gray-90;
    }
  }
}
